html{
    overflow: hidden;
}

body{
    width:600px;
    height:700px;
    margin:0 auto;
    background:#f7f7f7;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-350px;
   }

#board{
    border: 1px solid black;
}

.controls{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
}
.b_top,
.b_bottom {
    display: flex;
    justify-content: space-around;
}
.button{
    border: 1px solid black;
    line-height: 40px;
    width: 40px;
    text-align: center;
}