body{
    display: flex;
    flex-direction: column;
    width:600px;
    height:800px;
    margin:0 auto;
    background:#f7f7f7;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-350px;
   }

#board{
    border: 1px solid black;
    margin-bottom: 30px;
}

.controls{
    box-sizing: border-box;
    font-size: 62px;
    display: flex;
    flex-direction: column;
    width: 600px;
}
.b_top,
.b_bottom {
    
    display: flex;
    justify-content: center;
}
.button{
    outline: 2px solid black;
    height: 90px;
    width: 90px;
    text-align: center;
    margin: 5px;
}